header {
    width: 100%;
    height: .88rem;
    display: flex;
    align-items: center;
}

header img {
    width: 1.5rem;
    height: .32rem;
    margin-left: 20px;
}

header input {
    width: 3rem;
    height: .5rem;
    margin-left: 30px;
    background: rgb(238, 238, 238);

    outline: none;
    border: none;
    border-radius: 5px;
}

header input::-webkit-input-placeholder {
    text-align: center;
}

/*顶部导航*/
.top-nav {
    width: 100%;
    display: flex;
    padding-left: 0;
    list-style: none;
    justify-content: space-evenly;
    margin: 0;
}

.top-nav li {
    line-height: .8rem;
}

.activity {
    display: flex;
    height: 3.8rem;
}

.activity .kill, .activity .everyday {
    border: 1px solid;
    width: 50%;
    height: 100%;
    padding: 10px;
}
.activity .kill .kill-goods{

}
.activity .everyday {
    display: flex;
    flex-direction: column;
    /*padding: 0;*/
}

.activity p {
    margin: 0;
}

.activity .tit {
    color: rgb(243, 41, 99)
}

.activity .stit {
    font-size: 12px;
    margin: 0
}

.new-goods {
    display: flex;
    height: 50%;
}

.new-goods img {
    width: 1.3rem;
    height: 1.8rem;
}

.dayevent {
    width: 100%;
    height: 50%;
    display: flex;
}

.dayevent div {
    padding: 0;
    width: 50%;
}

.swiper-container {
    width: 7rem;
    height: 2.9rem;
}

.swiper-container .swiper-wrapper .swiper-slide img {
    width: 7rem;
    height: 2.9rem;;
}

.kill-goods {
    text-align: center;
    width: 100%;

}

.kill-goods p {
    font-size: 18px;
    color: #999999;
}

.kill-goods img {
    width: 80%;

}

ul.table {
    width: 100%;
    padding-left: 0;
    margin: 0;
    margin-top: 50px;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}